body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1330px;
  top:18px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1370px;
  top:22px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1308px;
  top:20px;
  width:12px;
  height:12px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:350px;
  top:168px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:350px;
  top:83px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:350px;
  top:138px;
  width:1160px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1160px;
  height:1px;
}
#u13 {
  position:absolute;
  left:433px;
  top:164px;
  width:347px;
  height:35px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:350px;
  top:219px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:433px;
  top:215px;
  width:347px;
  height:35px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:350px;
  top:370px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:428px;
  top:362px;
  width:802px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:44px;
}
#u20 {
  position:absolute;
  left:2px;
  top:14px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:433px;
  top:315px;
  width:347px;
  height:35px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:350px;
  top:319px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:433px;
  top:416px;
  width:1147px;
  height:538px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:538px;
}
#u25 {
  position:absolute;
  left:2px;
  top:261px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:433px;
  top:1000px;
  width:797px;
  height:230px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:230px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:350px;
  top:1000px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:433px;
  top:1270px;
  width:387px;
  height:55px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:350px;
  top:1380px;
  width:1489px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:1472px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1489px;
  height:1px;
}
#u31 {
  position:absolute;
  left:350px;
  top:1420px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:350px;
  top:1480px;
  width:390px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:120px;
}
#u34 {
  position:absolute;
  left:2px;
  top:52px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:360px;
  top:1490px;
  width:111px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:481px;
  top:1490px;
  width:242px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:31px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:360px;
  top:1528px;
  width:245px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:31px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:360px;
  top:1566px;
  width:361px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:350px;
  top:1610px;
  width:390px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:120px;
}
#u44 {
  position:absolute;
  left:2px;
  top:52px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:360px;
  top:1620px;
  width:111px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:481px;
  top:1620px;
  width:242px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:31px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:360px;
  top:1658px;
  width:245px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:31px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:360px;
  top:1696px;
  width:361px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:350px;
  top:1740px;
  width:390px;
  height:270px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:270px;
}
#u54 {
  position:absolute;
  left:2px;
  top:127px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:360px;
  top:1750px;
  width:111px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:481px;
  top:1750px;
  width:242px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:31px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:360px;
  top:1788px;
  width:245px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:31px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:360px;
  top:1826px;
  width:361px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1018px;
  top:1420px;
  width:129px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1018px;
  top:1480px;
  width:821px;
  height:150px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:150px;
}
#u66 {
  position:absolute;
  left:2px;
  top:67px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1028px;
  top:1490px;
  width:111px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1149px;
  top:1490px;
  width:242px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:31px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1028px;
  top:1528px;
  width:802px;
  height:103px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:103px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1018px;
  top:1640px;
  width:821px;
  height:150px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:150px;
}
#u74 {
  position:absolute;
  left:2px;
  top:67px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1028px;
  top:1650px;
  width:111px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1150px;
  top:1650px;
  width:242px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:31px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1028px;
  top:1688px;
  width:802px;
  height:103px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:103px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:810px;
  top:224px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:870px;
  top:224px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:350px;
  top:266px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:433px;
  top:262px;
  width:347px;
  height:35px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:350px;
  top:1880px;
  width:390px;
  height:130px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:130px;
}
#u89 {
  position:absolute;
  left:2px;
  top:57px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:360px;
  top:1890px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:360px;
  top:1928px;
  width:363px;
  height:55px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:55px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:850px;
  top:1270px;
  width:380px;
  height:55px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
