body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:40px;
  width:320px;
  height:512px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u1 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:150px;
  width:220px;
  height:40px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:120px;
  top:215px;
  width:220px;
  height:40px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:120px;
  top:365px;
  width:220px;
  height:35px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:120px;
  top:274px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:420px;
  top:40px;
  width:320px;
  height:512px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u9 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:421px;
  top:80px;
  width:318px;
  height:165px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:165px;
}
#u11 {
  position:absolute;
  left:2px;
  top:74px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:421px;
  top:41px;
  width:318px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00C67B;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:421px;
  top:499px;
  width:318px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:15px;
  width:314px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:430px;
  top:353px;
  width:90px;
  height:60px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:535px;
  top:353px;
  width:90px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:640px;
  top:353px;
  width:90px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:423px;
  width:90px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:535px;
  top:423px;
  width:90px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:640px;
  top:423px;
  width:90px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:421px;
  top:246px;
  width:318px;
  height:44px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:421px;
  top:291px;
  width:318px;
  height:44px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:780px;
  top:40px;
  width:320px;
  height:512px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u33 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:781px;
  top:81px;
  width:318px;
  height:576px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:576px;
}
#u35 {
  position:absolute;
  left:2px;
  top:280px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:781px;
  top:41px;
  width:318px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00C67B;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:781px;
  top:499px;
  width:318px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u39 {
  position:absolute;
  left:2px;
  top:15px;
  width:314px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:780px;
  top:551px;
  width:320px;
  height:139px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:139px;
}
#u41 {
  position:absolute;
  left:2px;
  top:62px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1140px;
  top:40px;
  width:320px;
  height:512px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u43 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1141px;
  top:41px;
  width:318px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00C67B;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1141px;
  top:499px;
  width:318px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u47 {
  position:absolute;
  left:2px;
  top:15px;
  width:314px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1160px;
  top:100px;
  width:145px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1160px;
  top:138px;
  width:280px;
  height:40px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51 {
  position:absolute;
  left:1160px;
  top:190px;
  width:190px;
  height:40px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:1360px;
  top:190px;
  width:80px;
  height:40px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:1160px;
  top:243px;
  width:280px;
  height:40px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u54 {
  position:absolute;
  left:1160px;
  top:299px;
  width:97px;
  height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1160px;
  top:344px;
  width:80px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1160px;
  top:370px;
  width:82px;
  height:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1160px;
  top:404px;
  width:97px;
  height:28px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1160px;
  top:442px;
  width:280px;
  height:47px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:60px;
  top:667px;
  width:780px;
  height:662px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:662px;
}
#u65 {
  position:absolute;
  left:2px;
  top:323px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:69px;
  top:1270px;
  width:369px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:52px;
}
#u67 {
  position:absolute;
  left:2px;
  top:15px;
  width:365px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:69px;
  top:1390px;
  width:775px;
  height:664px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:664px;
}
#u69 {
  position:absolute;
  left:2px;
  top:324px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:69px;
  top:1996px;
  width:369px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:52px;
}
#u71 {
  position:absolute;
  left:2px;
  top:15px;
  width:365px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:69px;
  top:2711px;
  width:1223px;
  height:659px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:659px;
}
#u73 {
  position:absolute;
  left:2px;
  top:322px;
  width:1219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:69px;
  top:3314px;
  width:369px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:52px;
}
#u75 {
  position:absolute;
  left:2px;
  top:15px;
  width:365px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:69px;
  top:2088px;
  width:320px;
  height:512px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u77 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:70px;
  top:2089px;
  width:318px;
  height:162px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:162px;
}
#u79 {
  position:absolute;
  left:2px;
  top:73px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:100px;
  top:2130px;
  width:60px;
  height:60px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:94px;
  top:2200px;
  width:73px;
  height:28px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:204px;
  top:2140px;
  width:125px;
  height:56px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:56px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:70px;
  top:2254px;
  width:318px;
  height:59px;
  font-size:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
}
#u87 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:70px;
  top:2314px;
  width:318px;
  height:59px;
  font-size:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
}
#u89 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:480px;
  top:2088px;
  width:305px;
  height:553px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:553px;
}
#u91 {
  position:absolute;
  left:2px;
  top:268px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
