body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:51px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1330px;
  top:18px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1370px;
  top:22px;
  width:10px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1308px;
  top:20px;
  width:12px;
  height:12px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1286px;
  top:20px;
  width:12px;
  height:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:576px;
  top:140px;
  width:500px;
  height:50px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11 {
  position:absolute;
  left:1086px;
  top:140px;
  width:100px;
  height:50px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:805px;
  top:380px;
  width:151px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:660px;
  top:680px;
  width:441px;
  height:60px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:660px;
  top:760px;
  width:441px;
  height:60px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:660px;
  top:840px;
  width:441px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:437px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:834px;
  top:580px;
  width:94px;
  height:42px;
  font-size:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:42px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:660px;
  top:457px;
  width:441px;
  height:90px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:68px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
