body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:51px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:350px;
  top:78px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:490px;
  top:84px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u5 {
  position:absolute;
  left:710px;
  top:84px;
  width:80px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:810px;
  top:84px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:350px;
  top:190px;
  width:1293px;
  height:210px;
}
.u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  font-size:20px;
}
.u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
.u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:75px;
}
.u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:70px;
}
.u12 {
  position:absolute;
  left:2px;
  top:23px;
  width:137px;
  word-wrap:break-word;
}
.u13 {
  position:absolute;
  left:141px;
  top:0px;
  width:173px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:70px;
}
.u14 {
  position:absolute;
  left:2px;
  top:23px;
  width:169px;
  word-wrap:break-word;
}
.u15 {
  position:absolute;
  left:314px;
  top:0px;
  width:221px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:70px;
}
.u16 {
  position:absolute;
  left:2px;
  top:23px;
  width:217px;
  word-wrap:break-word;
}
.u17 {
  position:absolute;
  left:535px;
  top:0px;
  width:205px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:70px;
}
.u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
.u19 {
  position:absolute;
  left:740px;
  top:0px;
  width:185px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:70px;
}
.u20 {
  position:absolute;
  left:2px;
  top:23px;
  width:181px;
  word-wrap:break-word;
}
.u21 {
  position:absolute;
  left:925px;
  top:0px;
  width:185px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:70px;
}
.u22 {
  position:absolute;
  left:2px;
  top:23px;
  width:181px;
  word-wrap:break-word;
}
.u23 {
  position:absolute;
  left:1110px;
  top:0px;
  width:183px;
  height:70px;
  font-size:20px;
  text-align:center;
}
.u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:70px;
}
.u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
.u25 {
  position:absolute;
  left:1125px;
  top:16px;
  width:70px;
  height:38px;
}
.u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
.u26 {
  position:absolute;
  left:1207px;
  top:16px;
  width:70px;
  height:38px;
}
.u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:350px;
  top:136px;
  width:1298px;
  height:59px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:54px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:137px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:141px;
  top:0px;
  width:173px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:54px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:169px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:314px;
  top:0px;
  width:221px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:54px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:535px;
  top:0px;
  width:205px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:54px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:201px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:740px;
  top:0px;
  width:185px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:54px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:181px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:925px;
  top:0px;
  width:185px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:54px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:181px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1110px;
  top:0px;
  width:183px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:179px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:350px;
  top:464px;
  width:550px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:350px;
  top:420px;
  width:100px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:460px;
  top:420px;
  width:40px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:510px;
  top:420px;
  width:40px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:560px;
  top:420px;
  width:40px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:610px;
  top:420px;
  width:40px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:660px;
  top:420px;
  width:100px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
